<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Le Nguyen Khoi(3975162), Nguyen Thanh Dat(3975867), Tran Anh Tuan(3974799), Le Chanh Tri(3924585)
ID: Your student ids (e.g. 1234567)
Acknowledgement: Acknowledge the resources that you use here. -->

<%- include('./partials/header.ejs') %>

    <div class="container-sm me-page mt-4 mb-4 rounded shadow-sm">
        <div class="row title">
            <div class="col mb-4">
                <span>My Account</span>
            </div>

            <div class="col d-flex align-items-center justify-content-end mb-4">
                <a href="/signout" class="btn btn-danger">Sign out</a>
            </div>

            <hr>
        </div>
        <div class="row me-container">
            <div class="col">
                <div class="form-group mb-4">
                    <label for="accounttype">Account type</label>
                    <input type="accounttype" class="form-control" id="accounttype" aria-describedby="accountType"
                        value="<%= data.accountType %>" disabled>
                </div>

                <% if (data.accountType=="vendor" ) { %>
                    <div class="form-group mb-4">
                        <label for="username">Username</label>
                        <input type="username" class="form-control" id="username" aria-describedby="username"
                            value="<%= data.user.username %>" disabled>
                        <p class="note text-muted">For customers to browse your products, your username will show in the
                            url of your products page.</p>
                    </div>

                    <div class="form-group mb-4">
                        <label for="vendorname">Business Name</label>
                        <input type="vendorname" class="form-control" id="vendorname" aria-describedby="vendorname"
                            value="<%= data.user.vendorName %>" disabled>
                        <p class="note text-muted">Your business name will appear above your products on the product
                            page.</p>
                    </div>

                    <div class="form-group mb-4">
                        <label for="vendoraddress">Business Address</label>
                        <input type="vendoraddress" class="form-control" id="vendoraddress"
                            aria-describedby="vendoraddress" value="<%= data.user.vendorAddress %>" disabled>
                    </div>

                    <% } else if (data.accountType=="customer" ) { %>
                        <div class="form-group mb-4">
                            <label for="username">Username</label>
                            <input type="username" class="form-control" id="username" aria-describedby="username"
                                value="<%= data.user.username %>" disabled>
                        </div>

                        <div class="form-group mb-4">
                            <label for="customername">Customer Name</label>
                            <input type="customername" class="form-control" id="customername"
                                aria-describedby="customername" value="<%= data.user.customerName %>" disabled>
                            <p class="note text-muted">Your name will appear on every order you placed.</p>
                        </div>

                        <div class="form-group mb-4">
                            <label for="customeraddress">Customer Address</label>
                            <input type="customeraddress" class="form-control" id="customeraddress"
                                aria-describedby="customeraddress" value="<%= data.user.customerAddress %>" disabled>
                            <p class="note text-muted">Your address will appear on every order you placed.</p>
                        </div>

                        <% } else if (data.accountType=="shipper" ) { %>
                            <div class="form-group mb-4">
                                <label for="username">Username</label>
                                <input type="username" class="form-control" id="username" aria-describedby="username"
                                    value="<%= data.user.username %>" disabled>
                            </div>

                            <div class="form-group mb-4">
                                <label for="hub">Registered Hub</label>
                                <input type="hub" class="form-control" id="hub" aria-describedby="hub"
                                    value="<%= data.user.hub %>" disabled>
                                <p class="note text-muted">Registered hub will be used to display orders on that hub.
                                </p>
                            </div>
                            <% } %>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <img class="img-fluid rounded-circle" src="/images/profiles/<%= data.user.profile %>"
                            alt="profile">
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex flex-column align-items-center">
                        <form action="/me/update" method="POST" enctype="multipart/form-data"
                            class="upload-profile-img mb-2 mt-2 w-100">
                            <label for="profile" class="form-label">Choose your profile image</label>
                            <input class="form-control profile" type="file" id="profile" name="profile" accept='image/*'
                                onchange="submitForm()">
                        </form>
                        <form action="/me/remove" method="POST" class="w-100">
                            <button type="submit" class="btn remove-btn w-100">Remove profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>