<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Le Nguyen Khoi(3975162), Nguyen Thanh Dat(3975867), Tran Anh Tuan(3974799), Le Chanh Tri(3924585)
ID: Your student ids (e.g. 1234567)
Acknowledgement: Acknowledge the resources that you use here. -->

<%- include('./partials/header.ejs') %>

    <div class="container orders-page mt-4 mb-4">
        <div class="row rounded display-for d-flex justify-content-between heading shadow-sm mb-4">
            <div class="col">
                <span class="display-customer">My orders</span>
                <span class="display-shipper">
                    Orders at hub: &nbsp;
                    <span class="shipper-hub">
                        <%= data.hub %>
                    </span>
                </span>
            </div>
            <div class="col order-total d-flex justify-content-end">
                <span>
                    Total:
                    <span class="order-count">
                        <%= data.orders.length %>
                    </span>
                </span>
            </div>
        </div>
        <div class="row no-order text-center shadow-sm rounded">
            <span>There is no order to display.</span>
        </div>
        <div class="row display-orders">
            <% if (data.orderCount !=0) {data.orders.forEach(function(order) { %>
                <div class="order-container mb-4 rounded shadow-sm">
                    <div class="row order-id">
                        <a href="/order/<%= order._id %>" class="text-decoration-none text-reset">
                            <span>
                                Order ID: <%= order._id %>
                                    <i class="bi bi-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                    <hr>
                    <div class="row d-flex flex-column">
                        <div class="col">
                            Customer Name: <%= order.customerName %>
                        </div>
                        <div class="col">
                            Customer Address: <%= order.customerAddress %>
                        </div>
                        <div class="col">
                            Hub: <%= order.hub %>
                        </div>
                    </div>

                    <div class="vendorname mb-3 border-bottom">
                        <a href="/products/vendor/<%= order.vendors[0].username %>"
                            class="text-decoration-none text-reset">
                            <span class="text">
                                <i class="bi bi-shop-window"></i>
                                <%= order.vendors[0].vendorName %>
                                    <i class="bi bi-chevron-right"></i>
                            </span>
                        </a>
                    </div>

                    <div class="row pd-info d-flex flex-row">
                        <div class="col order-img d-flex justify-content-start align-items-center">
                            <a href="/product/<%= order.vendors[0].products[0].product._id %>"
                                class="text-decoration-none text-reset">
                                <img class="img-fluid"
                                    src="/images/products/<%= order.vendors[0].id %>/<%= order.vendors[0].products[0].product._id %>/<%= order.vendors[0].products[0].product.images[0] %>"
                                    alt="pd-img">
                            </a>
                        </div>
                        <div class="col order-info d-flex flex-column">
                            <a href="/product/<%= order.vendors[0].products[0].product._id %>"
                                class="text-decoration-none text-reset">
                                <span class="pd-name">
                                    <%= order.vendors[0].products[0].product.name %>
                                </span>
                            </a>
                            <span>
                                x<%= order.vendors[0].products[0].quantity %>
                            </span>
                        </div>
                        <div class="col order-price d-flex justify-content-end align-items-center">
                            $ <%= order.vendors[0].products[0].product.price * order.vendors[0].products[0].quantity %>
                        </div>
                    </div>

                    <hr>

                    <% var products=0; order.vendors.forEach(function(vendor) {
                        vendor.products.forEach(function(product) { products+=1; }) }) %>
                        <% if (products-1> 0) { %>
                            <div class="row">
                                <a href="/order/<%= order._id %>" class="text-decoration-none text-reset">
                                    <div class="col d-flex justify-content-center">
                                        <i>and <%= products-1 %> more</i>
                                        &nbsp;
                                        <i class="bi bi-chevron-right"></i>
                                    </div>
                                </a>
                            </div>
                            <hr>
                            <% } %>

                                <div class="row order-status">
                                    <div class="col d-flex align-items-center gap-3">
                                        <div class="order-status">
                                            Status:
                                            <% if (order.status=="Active" ) { %>
                                                <span class="status-active">
                                                    <%= order.status %>
                                                </span>
                                                <% } else if (order.status=="Delivered" ) { %>
                                                    <span class="status-delivered">
                                                        <%= order.status %>
                                                    </span>
                                                    <% } else if (order.status=="Canceled" ) { %>
                                                        <span class="status-canceled">
                                                            <%= order.status %>
                                                        </span>
                                                        <% } %>
                                        </div>

                                        <div class="set-order-status display-shipper">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    Set status
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <form action="/order/<%= order._id %>/status/Delivered"
                                                            method="POST">
                                                            <button type="submit"
                                                                class="dropdown-item">Delivered</button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form action="/order/<%= order._id %>/status/Canceled"
                                                            method="POST">
                                                            <button type="submit"
                                                                class="dropdown-item">Canceled</button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col order-total-price d-flex justify-content-end">
                                        Total: &nbsp; <span class="total-price">
                                            $<%= order.totalPrice %>
                                        </span>
                                    </div>
                                </div>
                </div>
                <% })}; %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>