<%- include('./partials/header.ejs') %>

    <div class="container products-page shadow-sm mb-4 mt-4">
        <div class="row products-container rounded d-flex justify-content-center">
            <% if (data.products.length> 0) {data.products.forEach(function(productData) { if
                (productData.products.length> 0) { %>
                <h1 class="vendor-name">
                    <%= productData.vendorName %>
                </h1>
                <div class="row mb-4 d-flex justify-content-center">
                    <% productData.products.forEach(function(product) { %>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 card product-card product-card-ctrl">
                            <div class="h-100 d-flex align-items-center justify-content-center pd-card">
                                <a href="/product/<%= product._id %>" class="h-100">
                                    <img src="/images/products/<%= productData.id %>/<%= product._id %>/<%= product.images[0] %>"
                                        class="card-img-top img-fluid" alt="pd-img">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-end">
                                <a href="/product/<%= product._id %>" class="product-name">
                                    <h5 class="card-title">
                                        <%= product.name %>
                                    </h5>
                                </a>
                                <p class="card-text">
                                    $<%= product.price %>
                                </p>
                                <a href="/cart/<%= data.username %>/add/<%= product._id %>"
                                    class="btn btn-primary display-customer add-cart-btn">Add to Cart</a>
                                <div class="display-vendor d-flex gap-2">
                                    <a href="/product/<%= product._id %>/update"
                                        class="btn btn-primary edit-btn w-50">Edit</a>
                                    <a href="/product/<%= product._id %>/update"
                                        class="btn btn-primary delete-btn w-50">Delete</a>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <% }})} else { %>
                    <h1>This shop haven't added any products yet</h1>
                    <% }; %>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>