<!-- RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 2
Author and ID: Le Nguyen Khoi(3975162), Nguyen Thanh Dat(3975867), Tran Anh Tuan(3974799), Le Chanh Tri(3924585)
ID: Your student ids (e.g. 1234567)
Acknowledgement: Acknowledge the resources that you use here. -->

<%- include('./partials/header.ejs') %>

    <div class="container product-page mt-4 mb-4">
        <div class="row product-row rounded gap-2 shadow-sm">
            <div class="col-12 col-lg-5 align-items-center d-flex gap-2 flex-column">
                <div class="row pd-img-main">

                    <!-- Image Modal -->
                    <div class="modal fade" id="imageModal-<%= data.product.images[0] %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/images/products/<%= data.product.owner %>/<%= data.product._id %>/<%= data.product.images[0] %>"
                                        class="img-fluid img-modal">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a data-bs-toggle="modal" data-bs-target="#imageModal-<%= data.product.images[0] %>"
                        class="open-modal">
                        <img src="/images/products/<%= data.product.owner %>/<%= data.product._id %>/<%= data.product.images[0] %>"
                            class="img-fluid">
                    </a>

                </div>
                <div class="row gap-4">
                    <% for (i=1; i < data.product.images.length; i++) { %>
                        <div class="col pd-img d-flex align-items-center justify-content-center">

                            <!-- Image Modal -->
                            <div class="modal fade" id="imageModal-<%= data.product.images[i] %>" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <img src="/images/products/<%= data.product.owner %>/<%= data.product._id %>/<%= data.product.images[i] %>"
                                                class="img-fluid img-modal">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a data-bs-toggle="modal" data-bs-target="#imageModal-<%= data.product.images[i] %>"
                                class="open-modal">
                                <img src="/images/products/<%= data.product.owner %>/<%= data.product._id %>/<%= data.product.images[i] %>"
                                    class="img-fluid">
                            </a>
                        </div>
                        <% } %>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="pd-info-wrapper">
                    <div class="pd-info d-flex flex-column mt-2">
                        <span class="pd-name mb-4">
                            <%= data.product.name %>
                        </span>
                        <span class="pd-price">
                            Price: $ <%= data.product.price %>
                        </span>
                    </div>

                    <div class="row mt-5 d-flex flex-column">
                        <div class="col-6 col-md-5 pd-quantity-input">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number"
                                        onclick="editQuantity('<%= data.product._id %>', 'remove', 1, true, true)">
                                        <i class="bi bi-dash"></i>
                                    </button>
                                </div>

                                <input type="number" step="any" name="quant[1]"
                                    class="form-control input-number pd-quantity-input-box-<%= data.product._id %>"
                                    value="1" min="1" onfocus="this.oldvalue = this.value;"
                                    onchange="editQuantity('<%= data.product._id %>', 'edit', 1, true);this.oldvalue = this.value;">

                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number"
                                        onclick="editQuantity('<%= data.product._id %>', 'add', 1, true)">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-5 display-customer mt-4">
                            <button onclick="addToCart('<%= data.product._id %>', true)"
                                class="btn btn-primary add-cart-btn anm-btn w-100">
                                <span>Add to Cart</span></button>
                        </div>
                    </div>

                    <div class="row pd-dcs mt-5">
                        <span>
                            <%= data.product.description %>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row vendor-wrapper rounded shadow-sm mt-4">
            <div class="col-4 col-md-3 col-lg-2">
                <a href="/products/vendor/<%= data.vendor.username %>">
                    <img src="/images/profiles/<%= data.vendor.profile %>" class="img-fluid vendor-profile"
                        alt="vendorProfile">
                </a>
            </div>
            <div class="col-8 col-md-9 col-lg-10">
                <p class="vendor-name">
                    <a href="/products/vendor/<%= data.vendor.username %>" class="text-decoration-none text-reset">
                        <%= data.vendor.name %>
                    </a>
                </p>
                <a href="/products/vendor/<%= data.vendor.username %>" class="btn anm-btn view-btn">
                    <span>View Shop</span>
                </a>
            </div>
        </div>

        <div class="row related-pd mt-4 mb-4 rounded shadow-sm">
            <div class="col-12">
                <h4>Related products</h4>
                <hr>
            </div>
            <div class="col-12">
                <div class="row d-flex justify-content-center gap-4">
                    <% data.products[0].products.forEach(function(product) { %>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 card product-card product-card-ctrl">
                            <div class="h-100 d-flex align-items-center justify-content-center pd-card">
                                <a href="/product/<%= product._id %>" class="h-100">
                                    <img src="/images/products/<%= data.product.owner %>/<%= product._id %>/<%= product.images[0] %>"
                                        class="card-img-top img-fluid" alt="pd-img">
                                </a>
                            </div>
                            <div class="card-body d-flex flex-column justify-content-end">
                                <a href="/product/<%= product._id %>" class="product-name">
                                    <h5 class="card-title">
                                        <%= product.name %>
                                    </h5>
                                </a>
                                <p class="card-text">
                                    $<%= product.price %>
                                </p>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>