<%- include('./partials/header.ejs') %>

    <div>
        <p>
            <%= data.owner %>
        </p>
        <p>
            <%= data.name %>
        </p>
        <p>
            <%= data.price %>
        </p>
        <p>
            <%= data.images %>
        </p>
        <p>
            <%= data.description %>
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>