<%- include('./partials/header.ejs') %>

    <div>
        <p>
            <%= data.product.owner %>
        </p>
        <p>
            <%= data.product.name %>
        </p>
        <p>
            <%= data.product.price %>
        </p>
        <p>
            <%= data.product.images %>
        </p>
        <p>
            <%= data.product.description %>
        </p>
    </div>

    <%- include('./partials/footer.ejs') %>