<%- include('./partials/header.ejs') %>

    <div>
        <span>
            <%= data.owner %>
        </span>
        <span>
            <%= data.name %>
        </span>
        <span>
            <%= data.price %>
        </span>
        <span>
            <%= data.images %>
        </span>
        <span>
            <%= data.description %>
        </span>
    </div>

    <%- include('./partials/footer.ejs') %>